@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.font-webpage {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;

  font-style: normal;
}






/* General styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* shared styles */
.green-color{
  color: #95B226;
}
.display-flex{
  display: flex;
}
.text-Orange {
  color: #fea301;

}
.text-sky-blue {
  color: #01acfd;
}

/* Header styles */
header {
  border: 1px solid red;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbars {
font-size: 20px;
font-weight: 500;
gap: 32px;
}
.logo {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.School {
  padding: 15px 11px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}


nav a {
  text-decoration: none;
  color: #fff;
}

.home {
  color: #fea301;
}

.about {
  color: #01acfd;
}

.facilities {
  color: #05d4df;
}

.admission {
  color: #5d58ef;
}

.contact-btn {
  font-size: 20px;
  font-weight: 500;
  background-color: #f0a500;
  color: #ffffff;
  padding: 10px 60px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  line-height: 30px;
}

                                            /* Banner section styles */
                                            .banner-section {
                                              border: 1px solid rgb(128, 0, 255);
                                              margin-bottom: 60px;
                                              display: flex;
                                              justify-content: space-between;
                                              align-items: center;
                                            
                                            }

/* .banner-content{
    max-width: 640px;
} */

.banner-title {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 61px;
}
.banner-description {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 24px;
}

.enroll-btn {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #111111;
  padding: 10px 47px;
  border-radius: 12px;
  border: none;
  line-height: 30px;
  cursor: pointer;
}


